@using WebsiteBanHang.Models;
@model Bill
<h2>Thông tin đơn hàng </h2>
<br />
<br />


    <div class="ChiTietDonHang table">
        @{ IEnumerable<billproduct> lstChiTietDH = (IEnumerable<billproduct>)ViewBag.ListChiTietDH;}

        <table class="table" id="table">
            @*Thông tin đơn hàng*@
            <tr>
                @*<td>Mã đơn hàng: <b style="color:red">@Model.Id @Html.Hidden("Id", Model.Id)</b></td>*@
                
                <td>Tên khách hàng: <b style="color:red">@Model.user.name</b></td>
                <td>Ngày đặt: @Model.buy_date.Value.ToString("dd/MM/yyy")</td>
                <td>Địa chỉ: @Model.user.address</td>
                
            </tr>
            @*Phần chi tiết đơn hàng*@
            <tr>
                
                <td><b>Sản phẩm</b></td>
                
                <td><b>Số lượng đặt</b></td>
                <td><b>Đơn giá đặt</b></td>
            </tr>
           
            @foreach (var item in lstChiTietDH)
            {

                <tr>
                   
                    <td>@item.product.name</td>
                    
                    <td>@item.quantity</td>
                    <td>@item.unit_price</td>
                </tr>

            }


            <tr id="tt">
                <td>Tổng số lượng: @Model.billproducts.Sum(n => n.quantity)</td>
                <td>Tổng tiền: @Model.billproducts.Sum(n => n.unit_price * n.quantity).Value.ToString("#,##") đồng</td>
            </tr>
        </table>
        <br /><br />
    </div>
  <a href="@Url.Action("InDonHang1","QuanLyDonHang",new { id = Model.Id })">In đơn hàng</a>          